<div class="container">
  <div class="row">
    <div class="col">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Project Name</label>
          <input type="text" id="name" class="form-control" formControlName="projectName">
          <span *ngIf="!form.get('projectName').valid && form.get('projectName').touched" class="help-block">
            <span *ngIf="form.get('projectName').errors['nameIsForbidden']">Invalid Project Name</span>
            <span *ngIf="form.get('projectName').errors['required']">Field required</span>
          </span>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email">
          <span *ngIf="!form.get('email').valid && form.get('email').touched" class="help-block">Invalid Email</span>
        </div>
        <div class="form-group">
          <label for="status">Project Status</label>
          <select id="status" class="form-control" formControlName="status">
            <option value="stable">Stable</option>
            <option value="critical">Critical</option>
            <option value="finished">Finished</option>
          </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
